= form_with model: @template, local: true do |f|
  .form-group
    %label{for: "template_name"} Name
    = f.text_field :name, class: "form-control input-lg"
  .form-group
    %label{for: "template_background_color"} Background Color
    = f.text_field :background_color, class: "form-control input-lg"
  .form-group
    %label{for: "template_festival_id"} Festival
    = f.collection_select(:festival_id, @festivals, :id, :name, {prompt: true}, {class: "form-control"})
  .form-group
    = f.hidden_field :user_id, value: current_user.id

  = f.submit "Create", class: "btn btn-primary"