= form_with model: @template, local: true do |f|
  .form-group
    %label{for: "template_name"} Name
    = f.text_field :name, class: "form-control input-lg"
  .form-group
    %label{for: "template_background_color"} Background Color
    = f.text_field :background_color, class: "form-control input-lg"
  .form-group
    %label{for: "festivalSelect"} Festival
    %select#festivalSelect.form-control
      - @festivals.each do |f|
        %option{value: f.id}
          = f.name
  .form-group
    = f.hidden_field :user_id, value: current_user.id
        
  = f.submit "Create", class: "btn btn-primary"