#template-form
    = form_with model: @template, local: true do |f|
        .form-group
            %h3
                %label{for: "template_festival_id"} Festival
            = "Don't see your festival?"
            = link_to "Add it", new_festival_path
            = f.collection_select(:festival_id, @festivals, :id, :name, {prompt: true}, {class: "form-control"})
        .form-group
            %h3
                %label{for: "template_name"} Name
            = f.text_field :name, class: "form-control input-lg"
        %h2 Background
        #background 
            .form-group.custom-file#image
                %h3
                %label{for: "template_background_image"} Background Image
                %br
                #file
                    = f.file_field :background_image
            %h3#or OR
            .form-group#color
                %h3
                %label{for: "template_background_color"} Background Color (hex)
                = f.text_field :background_color, class: "form-control input-lg"

        = f.submit "Create", class: "btn btn-primary"