- if (user_signed_in?)
  - if (current_user.is_admin?)
    #trestle
      = link_to "trestle", trestle.root_path
%h1
  = "Search Festivals"
%h1
  = "Make your Lineup now!"
%ul#templates
  - @templates.each do |t|
    %li= link_to t.name, {action: 'show', id: t.id}
%h1
  = "Want to make your own Template?"
= link_to "ADD TEMPLATE", {action: 'new'}, class: "btn btn-primary"
