#home
  %h1
    Search Festivals
  #search
    = search_form_for(@q, url: root_path) do |f|
      = f.search_field :name_cont, class: "form-control input-lg"
      = f.submit "SEARCH", class: "btn btn-primary"
  - if (params[:q]).present?
    #results
      - @festivals.each do |f|
        %li= link_to f.name, {action: 'show', id: f.id}
  #add
    Don't see your festval?
    = link_to "Add New Festival", new_festival_path
  %h1
    Make your Lineup now!
  %ul#templates
    - @templates.each do |tem|
      - if(tem.background_image.attached?)
        #preview
          = link_to(tem) do
            = image_tag(tem.background_image, size: "210x280")
  %h1
    Want to make your own Template?
  = link_to "ADD TEMPLATE", new_template_path, class: "btn btn-primary"
  
  - if (user_signed_in?)
    - if (current_user.is_admin?)
      #trestle
        = link_to "trestle", trestle.root_path
