%h1 Add new Template
= form_with model: @template, local: true do |f|
  %p
    %label{for: "template_name"} Name
    = f.text_field :name
  %p
    %label{for: "template_background_color"} Background Color
    = f.text_field :background_color
  %p
    %label{for: "template_festival_id"} Festival
    = f.collection_select(:festival_id, @festivals, :id, :name, prompt: true)

  = f.submit "Create", class: "btn btn-primary"
