#show-user
    %h1
        %b= current_user.email
    - if(current_user.is_admin?)
        #trestle
            = link_to "Trestle", trestle.root_path, class: "btn btn-primary"
    %h2 My Mock Lineups
    #lineups
        - @lineups.each do |l|
            = link_to template_lineup_path(template_id: l.template.id, id: l.id) do
                = image_tag(l.template.background_image, class: "preview-image")
    %h2#my-templates My Templates
    %h4#new-link= link_to "create new", new_template_path
    #templates
        - @templates.each do |t|
            = link_to template_path(t) do
                = image_tag(t.background_image, class: "preview-image")
