= render "devise/shared/anyfest"
#login.ml-7
  %h1.font-weight-bold Change your password
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
    = render "devise/shared/error_messages", resource: resource
    = f.hidden_field :reset_password_token
    .field.form-group
      %h5= f.label :password, "New password"
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} characters minimum)
        %br/
      = f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control"
    .field.form-group
      %h5= f.label :password_confirmation, "Confirm new password"
      = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"
    .actions.mt-2
      %h5= f.submit "SUBMIT", class: "btn btn-primary"
  %h5.mt-2.ml-1= render "devise/shared/links"
