#new-lineup
    %h1 
        = "Create Lineup for: #{@template.name}"
    = form_with model: [@template, @lineup], local: true do |f|
        %h3
            = f.label :name, "Name your lineup:"
            = f.text_field :name, class: "form-control input-lg"

        = f.hidden_field :template_id, value: @template.id

        - @template.days.each do |day|
            - day.sections.each do |section|
                = f.fields_for :section_acts, SectionAct.new do |s|
                    #accordionSection.accordion
                        #instance
                            #sectionHeading
                                %h2.mb-0
                                    %a#sectionAccordionHeader{"aria-controls": "collapseSection", "aria-expanded": "true", "href": "#collapseSection", "data-toggle": "collapse", "type": "button"}
                                        = section.name
                            #collapseSection.collapse.show{"aria-labelledby": "sectionHeading", "data-parent": "#accordionSection"}
                                %div{data: {controller: "sectionbox", sectionbox_day_height: day.height, sectionbox_day_width: day.width, sectionbox_day_x_offset: day.x_offset, sectionbox_day_y_offset: day.y_offset, sectionbox_section_height: section.height, sectionbox_section_width: section.width, sectionbox_section_x_offset: section.x_offset, sectionbox_section_y_offset: section.y_offset}}
                                    .form-content.row
                                        .form.col
                                            = s.hidden_field :section_id, value: section.id
                                            - (1..section.max_act_count).each do |i|
                                                = s.label :acts, "Act #{i}"
                                                = s.text_field :acts, class: "form-control input-lg acts", id: "act"
                                            %a.btn.btn-primary#innerSectionCollapse{"aria-controls": "collapseSection", "aria-expanded": "true", "href": "#collapseSection", "data-toggle": "collapse", "type": "button"}
                                                HIDE
                                        .container.col{"data-target": "sectionbox.output"}
                                            = image_tag(@template.background_image, class: "image preview_image img-fluid")
        = f.submit "CREATE", class: "btn btn-primary"
