%h1 Add new Festival
= form_with model: @festival, local: true do |f|
  %p
    = s.label :name
    = f.text_field :name, class: "form-control input-lg"
  %p
    = s.label :location
    = f.text_field :location, class: "form-control input-lg"

  = f.submit "CREATE", class: "btn btn-primary"