#show-festival
    %h1.font-weight-bold= @festival.name
    %h4= @festival.location
    %h2.font-weight-bold.mt-5 Search
    = form_with method: :get, local: true do |s|
        = s.text_field :q, class: "form-control d-inline-block"
        = s.submit "SEARCH", class: "btn btn-primary d-inline-block"
    %h3.font-weight-bold.mt-5 Lineups
    - @lineups.each do |l|
        %li.d-inline-block
            = link_to template_lineup_path(template_id: l.template.id, id: l.id) do
                = image_tag(l.template.background_image, class: "preview-image mr-4 border border-danger rounded-xl")
    %h3.font-weight-bold.mt-5 Templates
    - @templates.each do |t|
        -if t.active?
            %li.d-inline-block
                = link_to template_path(t) do
                    = image_tag(t.background_image, class: "preview-image mr-4 border border-danger rounded-xl")