#show-festival
    %h1#name
        %b
            = @festival.name
    %h4#location
        = @festival.location
    %h2 Search
    = form_with method: :get, local: true do |s|
        = s.text_field :q, class: "form-control d-inline-block"
        = s.submit "SEARCH", class: "btn btn-primary d-inline-block"
    %h3#search-lineups
        %b Lineups
    #lineup-results
        - l = 0
        - @lineups.each do |l|
            - if l<6
                %li
                    = link_to template_lineup_path(template_id: l.template.id, id: l.id) do
                        = image_tag(l.template.background_image, class: "preview-image")
            - l = l+1
    %h3#search-templates
        %b Templates
    #template-results
        - j = 0
        - @templates.each do |t|
            -if t.active? && j<6
                %li
                    = link_to template_path(t) do
                        = image_tag(t.background_image, class: "preview-image")
            -j = j+1