!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title AnyFest
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Nunito:400,700,900|Sora:400,700,900|Oswald:400,700,900|Signika:400,700,900|Work+Sans:400,700,900|Heebo:400,700,900|Roboto+Slab:400,700,900|Rokkitt:400,700,900"
  %body
    -if user_signed_in?
      = render "layouts/navbar"
    -if notice != nil || alert != nil
      .alert.alert-warning.fade.show{"role": "alert"}
        %p.notice.m-1= notice
        %p.alert.m-1= alert
    #content
      = yield
    #sidebar
