!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title AnyFest
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Nunito"
    = javascript_pack_tag 'template'
    = javascript_pack_tag 'drag'
  %body
    -if (user_signed_in?)
      = render "layouts/navbar"
    %p.notice= notice
    %p.alert= alert
    #content
      = yield
    #sidebar
